.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.button-container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c3e50;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.visualize-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.visualize-button:hover:not(:disabled) {
  background-color: #2980b9;
}

.visualize-button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.grid {
  flex-grow: 1;
  overflow: hidden;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ecf0f1;
}

.start {
  background-color: #2ecc71;
}

.end {
  background-color: #e74c3c;
}

.visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
.mode-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #34495e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

.mode-button:hover:not(:disabled) {
  background-color: #2c3e50;
}

.mode-button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.mode-button.active {
  background-color: #3498db;
}

.wall {
  background-color: #34495e;
}